<div class="toast" id="toast">
  <span class="ic"><svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><polyline points="20 6 9 17 4 12"/></svg></span>
  <div class="tm"><div id="toast-msg">Salvo</div><span id="toast-sub"></span></div>
</div>
